<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div id="app">
    <h1 hx-trigger="click" hx-target="#app" hx-push-url="true" hx-get="/">Splitter</h1>
    {% if not access_token %}
    <button id="login">Login</button><br><br>
    {% else %}
    <button id="logout">Logout</button><br><br>
    <img src="{{ profile_pic }}" alt="Profile Picture">
    <p>Name: {{ display_name }}, ID: {{ user_id }}</p>
    {% endif %}

    <form method="post" action="{% url 'splitter' %}">
      {% csrf_token %}
      <label for="playlist_link">Playlist Link
        <input id="playlist_link" type="text" name="playlist_link" />
      </label>
      <label for="split_type">Split Type
        <select name="split_type" id="split_type">
          <option value="genre">Genre</option>
          <option value="artist">Artist</option>
          <option value="year">Year</option>
        </select>
      </label>
      <button type="submit">Submit</button>
    </form>

    <p>Playlist Id: {{ playlist_id }}</p>
    <p>Split Type: {{ split_type }}</p>

    {% if tracks %}
    <h2>Track Data</h2>
    <table cellspacing="0" border="1">
      <tr>
        <th>Track Name</th>
        <th>Artists</th>
        <th>Release Date</th>
        <th>Genres</th>
      </tr>
      {% for track in tracks %}
      <tr>
        <td>{{ track.name }}</td>
        <td>
          {% if track.artists %}
          {% for artist in track.artists %}
          {{ artist }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
          {% else %}
          N/A
          {% endif %}
        </td>
        <td>{{ track.release_date }}</td>
        <td>
          {% if track.genres %}
          {% for genre in track.genres %}
          {{ genre }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
          {% else %}
          N/A
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>

  <script>
    "{% if not access_token %}"
    const loginBtn = document.getElementById('login');
    loginBtn.addEventListener('click', () => {
      window.location.href = "{% url 'login' %}";
    });
    "{% else %}"
    const logoutBtn = document.getElementById('logout');
    logoutBtn.addEventListener('click', () => {
      window.location.href = "{% url 'logout' %}";
    });
    "{% endif %}"
  </script>
</body>

</html>
